[Unit]
Description=Cardano Relay node (%i)

[Service]
Environment="TOPOLOGY=--topology /etc/cardano/%i/topology.json"
Environment="CONFIG=--config /etc/cardano/%i/config.json"
Environment="DATABASE=--database-path /var/lib/cardano/%i/db"
Environment="SOCKET=--socket-path /var/lib/cardano/%i/node.socket"
Environment="HOSTADDR=--host-addr 127.0.0.1"
Environment="HOSTIPV6=--host-ipv6-addr ::1"
Environment="PORT=--port 3001"
Environment="RTS=+RTS -RTS"
Type=simple
User=cardano
Group=cardano
WorkingDirectory=/var/lib/cardano
ExecStart=/usr/local/bin/cardano-node run $RTS $TOPOLOGY $CONFIG $DATABASE $SOCKET $HOSTADDR $HOSTIPV6 $PORT
Restart=on-failure

[Install]
WantedBy=multi-user.target
